body
{
	text-align: center;
	background: rgb(118,140,163);
	color: white;
}
h1
{
	display: inline-block;
	border: outset 2px;
	width: 30%;
	background: rgb(8,86,238);
	border-radius: 15px;
}
h1:hover
{
	border:inset 2px;
}
p
{
	font-style: italic;
}
.math
{
	color: black;
	font-style: normal;
}
.title
{
	color: white;
	text-decoration: none;
}
.return
{
	font-size: 50px;
}
hr
{
	width: 30%;
	border-radius: 1px;
}